.featured {
    padding: 96px 0;
    &__heading {
        @include font(30px, 36px, #222222);
        text-align: center;
    }
    &__text {
        @include font(14px, 17px, #9f9f9f);
        text-align: center;
        margin: 6px 0 48px 0;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        background-color: $item-background-color;
        position: relative;
        width: 360px;
        margin-bottom: 30px;
        &-hover {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            position: absolute;
            width: 360px;
            height: 420px;
            background-color: rgba(58, 56, 56, 0.83);
            transition: 0.4s ease-in-out 0.1s;
        }
        &-hover:hover {
            opacity: 1;
        }
        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 138px;
            height: 43px;
            @include btn($btn-text-hover-color, 1px solid $btn-text-hover-color, transparent, $btn-text-hover-color);
            @include font(14px, 17px, $btn-text-hover-color);
            &-img {
                margin-right: 11px;
            }
            &:hover {
                @include btn-hover();
            }
            &-img {
                margin-right: 11px;
            }
        }
        &-info {
            margin: 25px 29px 20px 16px;
        }
        &-heading {
            margin-bottom: 13px;
            @include font(13px, 16px, #000000);
        }
        &-description {
            font-weight: 300;
            @include font();
            margin-bottom: 18px;
        }
        &-price {
            @include font(16px, 19px, $main-red-color);
        }
    }
    &__button-all {
        display: block;
        @include btn(#f26376, 1px solid #ff6a6a, transparent, #ffffff);
        padding: 14px 35.5px;
        font-size: 16px;
        margin: 18.5px auto;
        width: 211px;
        &:hover {
            @include btn-hover();
        }
    }
}
@import "adaptive/featured_adaptive";
