.footer {
    background-color: #222224;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__links {
        display: flex;
        align-items: center;
        &-img {
            margin-left: 8px;
            text-decoration: none;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            font-size: 14px;
            &:hover {
                color: $btn-text-hover-color;
                background-color: $main-red-color;
            }
        }
    }
    &__copyrights {
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
        padding: 30px 0;
    }
}
@import "adaptive/footer_adaptive";
