.page-heading {
    background-color: #f8f3f4;
    &__container {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        @include font(24px, 28px, $main-red-color);
        font-weight: normal;
    }
    &__breadcrumb {
        list-style-type: none;
        display: flex;
        &-link {
            text-decoration: none;
            font-weight: 300;
            @include font(14px, 17px, #636363);
            &::after {
                content: "/";
                margin: 0 4px 0 1px;
            }
            &:hover {
                color: $main-red-color;
            }
        }
        &-item_active {
            font-weight: bold;
            @include font(14px, 22px, $main-red-color);
        }
    }
}
@import "adaptive/page__heading_adaptive";
