.perfomance {
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
    animation: color-change-5x 8s linear infinite alternate both;
    &__container {
        background-image: url(../img/performance_man.png);
        background-position: bottom;
        background-position-x: -229px;
        background-repeat: no-repeat;
        height: 764px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding: 290px 100px 0 0;
    }
    &__heading {
        -webkit-animation: bounce-in-bck 1.1s both;
        animation: bounce-in-bck 1.1s both;
        border-left: 12px solid $main-red-color;
        padding-left: 16px;
        font-weight: 900;
        @include font(48px, 38px, #222222);
        &_second {
            font-weight: bold;
            font-size: 32px;
        }
        &_secondred {
            color: $main-red-color;
        }
    }
}

@import "adaptive/perfomance_adaptive";
