@media (max-width: 1200px) {
    .products {
        &__filter {
            padding: 24px 0 0 0;
        }
        &__pagginator {
            margin: 10px auto 64px;
        }
    }
    .left__filter-items {
        padding-left: 0;
        width: fit-content;
    }
    .left__filter-items[open] {
        width: max-content;
    }

    .right__filter-wrapper {
        flex-grow: 0;
    }
    .right__filter-body_price[open] {
        z-index: 5;
        transform: translateX(-178px);
        width: 240px;
        .right__filter-label_price {
            transform: translateX(178px);
        }
    }
}

@media (max-width: 766px) {
    .right__filter-body {
        font-size: 12px;
    }
    .left__filter {
        &-items {
            flex: 0 1 0;
            padding-left: 0px;
        }
        &-wrapper {
            min-width: 0;
        }
        &-name {
            display: none;
        }
        &-icon {
            height: 25px;
            width: 38px;
            margin-left: 0;
        }
    }
}
