@media (max-width: 766px) {
    .page-heading {
        &__container {
            flex-direction: column;
            justify-content: center;
        }
        &__breadcrumb {
            margin: 32px 0 46px 0;
        }
    }
}
