@media (max-width: 1200px) {
    .perfomance {
        &__container {
            background-position-x: -10px;
            background-size: contain;
            height: 367px;
            padding: 138px 16px 0 0;
        }
        &__heading {
            font-size: 44px;
            &_second {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: 766px) {
    .perfomance {
        &__container {
            background-image: none;
            height: 375px;
            padding: 148px 48px;
        }
        &__heading {
            font-size: 38px;
            &_second {
                font-size: 20px;
            }
        }
    }
}
